<div class="page-container">
  <app-users-filter (searchChange)="onSearch($event)" />

  <div *ngIf="loading()" class="state">
    <mat-spinner diameter="40" />
    <p class="info-text">Carregando usuários...</p>
  </div>

  <div *ngIf="!loading() && filteredUsers().length === 0" class="state">
    <p class="info-text">Nenhum usuário encontrado</p>
  </div>

  <div>
    <app-users-list *ngIf="!loading() && filteredUsers().length > 0" [users]="filteredUsers()" />
  </div>

  <div *ngIf="!loading()" class="btn-footer">
    <button mat-button class="add-button" (click)="openCreate()"> + Adicionar usuário</button>
  </div>
</div>
