.users-table {
  width: 100%;
  background: var(--mat-sys-surface);
  border-radius: 12px;
  overflow: hidden;
}

mat-header-cell {
  font-weight: 500;
}

mat-cell, mat-header-cell {
  padding: 12px;
}

button {
  margin-right: 8px;
}