.users-table {
  background: var(--mat-sys-surface);
  border-radius: 12px;
  overflow: hidden;
}

.inside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}
