@use '@angular/material' as mat;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.app-root {
  display: block;
  height: 100%;
}

.light {
  color-scheme: light;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  --mat-sys-background: rgba(202, 202, 202, 0.663);
  --mat-sys-surface: #f3eeee;

  --mat-sys-on-background: #1c1c1e;
  --mat-sys-on-surface: #2c2c2e;

  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);

  --text-secondary: rgba(0, 0, 0, 0.6);
}
* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}
 .mat-mdc-progress-spinner circle {
  stroke: var(--mat-sys-on-background);
}

.dark {
  color-scheme: dark;

  @include mat.theme((
    color: (
      theme-type: dark,

      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  --mat-sys-background: #252525;
  --mat-sys-surface: #000000;

  --mat-sys-primary: #0078d4;


  --mat-sys-on-background: #e4e4e7;
  --mat-sys-on-surface: #d4d4d8;

  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.custom-snackbar .mdc-snackbar__surface {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}